:root{
    --main-color: #10cab7
}

/* font link */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.container,
.h_container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}


/* Header Start */
header{
    padding: 20px;
}

header .h_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .h_container .logo_im{
    width: 60px;
}

header .h_container .h_links{
    position: relative;
}

header .h_container .h_links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

header .h_container .h_links .icon{
    display: flex;
    justify-content: flex-end;
}

header .h_container .h_links .icon span{
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}

header .h_container .h_links .icon span:first-child{
    width: 100%;
}

header .h_container .h_links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}

header .h_container .h_links .icon span:last-child{
    width: 100%;
}

header .h_container .h_links .icon :hover header span{
    width: 100%;
}

header .h_container .h_links:hover .icon span:nth-child(2){
    width: 95%;
}

header .h_container .h_links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top:-19px;
    right: 5px;
    z-index: 1;
}

header .h_container .h_links ul{
    list-style: none;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    width: 200px;
    margin: 0;
    display: none;
}

header .h_container .h_links:hover ul{
    display: block;
}

header .h_container .h_links ul li a{
    text-decoration: none;
    display: block;
    color: #333;
    padding: 15px;
    transition: .3s;
}

header .h_container .h_links ul li a:hover{
    padding-left: 25px;
}

header .h_container .h_links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* Header End */


/* Frist section start */

section.frist{
    background-image: url(../image/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

section.frist .intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

section.frist .intro h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
}

section.frist .intro p{
font-size: 19px;
line-height: 1.8;
text-align: center;
}

/* Frist section end */




/* Media start */

/* Small */
@media (min-width: 768px) {
  .container,.h_container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container,.h_container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container,.h_container {
    width: 1170px;
  }
}

/* Media end */